.header-container {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	height: 110px;
}

.logo-container {
	display: flex;
	justify-content: flex-start;
}

.logo {
	height: 110px;
}

.logo-text {
	padding: 30px;
}

.shim-container {
	display: flex;
	flex-wrap: wrap;
}
.nav-items > ul {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	font-size: large;
}

.nav-items > ul > li {
	padding: 30px;
	margin-bottom: 50%;
	list-style-type: none;
}

.nav-items > ul > li > a {
	cursor: pointer;
}

.search-bar {
	padding: 10px 10px 0px;
}

.res-card {
	width: 300px;
	margin: 10px;
	background-color: white;
}

.shim-card {
	width: 300px;
	margin: 10px;
	background-color: white;
	border: 1px solid black;
}

.res-card:hover {
	box-shadow: 5px 5px 5px 5px lightgray;
	cursor: pointer;
	border: 1px solid black;
}

.res-logo {
	padding-right: 5px;
	width: 100%;
	height: 220px;
}

.restaurant-container {
	display: flex;
	flex-wrap: wrap;
}

.filter-btn {
	cursor: pointer;
	margin: 10px;
}

.empty-res-logo {
	height: 200px;
	width: auto;
	background-color: lightgray;
}

.emptyblock {
	height: 30px;
	width: auto;
	background-color: lightgray;
}

.login-btn {
	height: 20px;
	width: 40px;
	font-size: large;
	padding: 30px;
	margin-right: 20%;
	border: none;
	background-color: white;
	cursor: pointer;
}

.filter-container {
	display: flex;
}

.searchbox {
	margin-top: 10px;
}
.search-btn {
	padding-left: 5px;
}

.error-gif {
	display: flex;
	justify-content: center;
	align-items: center;
}
