.menu-container {
	margin: 3%;
	width: 550px;
}
.menu-name {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.hr {
	border-top: 4px dashed grey;
}

.menu-item {
	display: flex;
	justify-content: space-between;
}

.CardLink {
	text-decoration: none;
	color: black;
}
